<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main">
                <div class="heading">
                    <h1>
                        OUR-MISSION
                    </h1>
                </div>
                <div class="content">
                    <p>
                        We are glad to offer a highly accessible investment
                        opportunity at Croyez Capital. While the industry
                        standard typically requires a minimum investment of USD
                        5 million and up, we have set our entry point at just
                        USD 500,000.
                    </p>
                    <p>
                        This deliberate decision aims to empower and provide
                        greater access to athletes and creators who wish to
                        invest in the ventures of tomorrow. By lowering the
                        barrier to entry, we are committed to bridging the gap
                        and enabling a wider pool of talent to participate in
                        the next generation of innovation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>