
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main">
                <div class="image-container">
                    <div class="image"></div>
                </div>
                <div class="heading">
                    <h1>
                        PARTH SHAH
                    </h1>
                </div>
                <div class="content">
                    <p>
                        Parth Shah exemplifies the essence of a passionate and
                        outcome-oriented entrepreneur. Currently at the helm of
                        <a href="http://croyezmanagement.com" target="_blank">Croyez
                            Management</a>
                        and
                        as the CEO, he <a href="http://Croyez.Art"
                            target="_blank">embarked</a>
                        on his
                        entrepreneurial journey immediately after graduating
                        from George Brown College, Toronto, at the age of 19.
                        Parth's unwavering vision was to create a comprehensive
                        solution that caters to every requirement of an online
                        brand or business.
                    </p>
                    <p>
                        Parth has fostered the inception and growth of numerous
                        e-commerce brands and businesses, propelling them beyond
                        the thresholds of 7 and 8-figure revenues within 12-36
                        months. His commitment to customer-centric
                        methodologies, intertwined with an emphasis on brand
                        loyalty, has been instrumental in writing remarkable
                        success stories of Croyez Management's esteemed
                        clientele. In the process, Parth has assembled a team of
                        industry-leading talents who possess an insatiable
                        appetite for conquering novel challenges.
                    </p>
                    <p>
                        Parth's second <a href="http://Croyez.Art"
                            target="_blank">venture</a>
                        operates as an
                        innovative powerhouse that facilitates the growth and
                        expansion of artists, brands, and businesses in the web3
                        realm. With a diverse repertoire that spans from
                        minting/marketing NFT collections to managing web3
                        portfolios by strategically investing in projects
                        boasting robust foundations at the <a
                            href="http://Croyez.Art" target="_blank">nascent
                            stages</a>,
                        delivers unparalleled solutions that
                        propel its clients toward unmitigated success in the
                        web3 space.
                    </p>
                    <p>
                        Beyond his professional commitments, Parth remains
                        resolute in fulfilling his social responsibilities
                        through his philanthropic venture, Better Together -
                        Ahmedabad. Through this notable NGO, Parth ensures the
                        sustenance of over 320 underprivileged children in India
                        by providing them with daily meals, empowering them to
                        focus on their studies and secure a promising future for
                        themselves and their families alike.
                    </p>

                    <!-- HTML !-->
                    <a href=" http://www.linkedin.com/in/parth-shah-0b6439178"
                        target="_blank"><button class="button-12" role="button">LinkedIn</button></a>
                    <a
                        href="https://finance.yahoo.com/news/parth-shahs-croyez-management-next-135000114.html"
                        target="_blank"><button class="button-12" role="button">Yahoo
                            Finance Article</button></a>
                    <a href="parth@croyezcapital.com" target="_blank"><button
                            class="button-12" role="button">Email</button></a>

                </div>
            </div>
        </div>
    </div>
</div>
