.footer{
    margin-top: 10%;
    margin-bottom: 5%;
}
.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.content{
    display: flex;
    justify-content: center;
}
.content .active{
    color: var(--grey-color);
}
.content a{
    color: var(--light-grey);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: poppins;
    font-size: 12px;
    line-height: 17px;
    margin-left: 10px;
}
@media(max-width:767px){
    .content{
        flex-direction: column;
    }
}