<div class="footer">
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-12">
                <div class="content">
                    <a routerLink="" routerLinkActive="active">Website terms of use &nbsp; &nbsp; |</a>
                    <a routerLink="" routerLinkActive="active">Important disclosures &nbsp; &nbsp; |</a>
                    <a routerLink="" routerLinkActive="active">Privacy policy</a>
                </div>
            </div>
        </div>
    </div>
</div>
