
.container {
    margin-bottom: 5%;
}
.content{
    display: flex;
    justify-content: start;
    margin-left: -11px;
}
.link{
    border-right:1px solid var(--light-grey) ;
}
/* .content .active{
    color: var(--grey-color);
} */
.content a{
    color: var(--light-grey);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    font-family: poppins;
    font-size: 12px;
    line-height: 17px;
    margin-right: 5px;
    margin-left: 5px;
}
@media(max-width:768px){
    .content{
        flex-direction: column;
    }
    .link{
        border-right:none ;
    }
}