<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main">
                <div class="content">
                    <p>
                        General Information and Investor Inquiries
                    </p>
                </div>
                <div class="heading">
                    <h1>
                        <a href="info@croyezcapital.com">info@croyezcapital.com</a>
                    </h1>
                </div>
                <div class="content">
                    <p>
                        Press Inquiries
                    </p>
                </div>
                <div class="heading">
                    <h1>
                        <a href="press@croyezcapital.com">press@croyezcapital.com</a>
                    </h1>
                </div>
                <hr>
                <p>
                    Social-Links
                </p>
                <!-- HTML !-->
                <a href=" http://www.linkedin.com/in/parth-shah-0b6439178"
                    target="_blank"><button class="button-12" role="button">LinkedIn</button></a>
                <a
                    href="https://finance.yahoo.com/news/parth-shahs-croyez-management-next-135000114.html"
                    target="_blank"><button class="button-12" role="button">Yahoo
                        Finance Article</button></a>
                <a href="parth@croyezcapital.com" target="_blank"><button
                        class="button-12" role="button">Email</button></a>

            </div>
        </div>
    </div>
</div>
