
<div class="container mt-5" id="container">
    <div class="form-container sign-in-container">
        <form (ngSubmit)="SubmitLoginForm()" [formGroup]="LoginForm">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
                <input type="email" placeholder="Email" formControlName="email" />
              <!-- validation -->
              <div class="error  text-danger"
                *ngIf="LoginForm.controls['email'].invalid && (LoginForm.controls['email'].dirty || LoginForm.controls['email'].touched)">
                <span *ngIf="LoginForm.controls['email'].errors.email">
                  <small>Use correct pattern as example@example.com</small></span>
                <span *ngIf="LoginForm.controls['email'].errors.required">
                  <small>Field Required!</small>
                </span>
              </div>
            <!-- validation -->
            <input type="password" placeholder="Password" formControlName="password" />
            <!-- validation -->
            <div class="error  text-danger"
                *ngIf="LoginForm.controls['password'].invalid && (LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched)">
                <span *ngIf="LoginForm.controls['password'].errors.required">
                    <small>Field Required!</small>
                </span>
            </div>
            <!-- validation -->
            <!-- <a href="#">Forgot your Password?</a> -->
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome To Sign-In Page</h1>
            </div>
        </div>
    </div>
</div>