

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="main">
                <!-- <div class="heading">
                    <h1>
                        Introducing Croyez Capital: World's First Athletes and
                        Creators-Backed Investment Firm
                    </h1>
                </div> -->
                <div class="content">
                    <p>
                        This Privacy Policy (“Privacy Policy” or “Policy”)
                        applies to the collection and use of Personal
                        Information by Croyez Capital (“Company,” “we,” “us,” or
                        “our”). It describes the Company's practices regarding
                        the collection, use, and disclosure of Personal
                        Information. This Policy applies to your access and use
                        of any of our websites (the “Site”) or online services
                        on which we post this Policy, when you communicate with
                        us via email, and when you engage with us offline
                        (collectively with the Site, the “Services”). By
                        accessing or otherwise using our Services, you agree to
                        our collection and use of Personal Information as
                        described herein and agree to our Terms of Use.
                    </p>
                    <p>
                        This Policy does not apply to information we collect
                        about employees, job applicants, and independent
                        contractors, or individuals when acting as
                        representatives (e.g., employees, contractors) of
                        entities with which we do business. This Policy also
                        does not govern the information handling practices of
                        our portfolio companies.
                    </p>
                    <p>
                        For purposes of this Policy, “Personal Information”
                        means information that identifies, relates to,
                        describes, is reasonably capable of being associated
                        with, or could reasonably be linked, directly or
                        indirectly, with a particular consumer or household. It
                        does not include de-identified or aggregate information.
                    </p>
                    <div class="heading">
                        <h1>
                            Personal Information We Collect
                        </h1>
                    </div>
                    <p>
                        We may collect information about you when we provide our
                        Services. We collect information directly from you,
                        automatically when you access our Services, and from
                        unaffiliated parties.
                    </p>
                    <p>
                        Information You Provide to Us Directly: We may collect
                        information directly from you when you use our Services,
                        request information about our Services, provide us with
                        your information at an event, or when you otherwise
                        voluntarily provide information to us.
                    </p>
                    <p>
                        Automatically-Collected Information: We and our vendors
                        may use cookies and other technologies for analytics and
                        to improve the Site. These technologies, for example,
                        may allow us to tailor the Site to your needs, track the
                        pages you visit, help us manage content, and compile
                        statistics about usage of our Site. You can choose to
                        accept or decline cookies. Most web browsers
                        automatically accept cookies, but your browser may allow
                        you to modify your browser settings to decline cookies
                        if you prefer. If you disable cookies, you may be
                        prevented from taking full advantage of the Site,
                        because the Site may not function properly. As we adopt
                        additional technologies, we may also gather additional
                        information through other methods.
                    </p>
                    <p>
                        Information We Collect from Third Parties: We may
                        collect information about you or others through our
                        affiliates or through non-affiliated parties. We may
                        also collect information about you from others. For
                        example, users may provide us with information about
                        colleagues or other prospective users of our Services.
                        We may collect information when you communicate with us
                        on social media services such as LinkedIn and Twitter.
                        We may combine information that we collect from you
                        through the Services with information that we obtain
                        from other parties and information derived from other
                        products or services we provide.
                    </p>
                    <div class="heading">
                        <h1>
                            The categories of Personal Information we may have
                            collected from these sources include the following:
                        </h1>
                    </div>
                    <p>
                        Personal identifiers: Such as name, address, email
                        address, telephone numbers, IP address or other unique
                        identifier, account name and password, and other similar
                        information.
                        Commercial information: Such as transaction data
                        regarding transactions you've made with us.
                        Internet or other electronic activity information: Such
                        as device and browser type, your browsing and search
                        history on our Site, and information regarding your
                        interaction with our Site and our advertisements.
                        Business information: Such as general information about
                        your employment or business, such as a business title,
                        business phone, business email address, business product
                        and service offerings, and other information you provide
                        us when communicating with us.
                        Other information: Such as other information we may
                        collect from or about you, including when you
                        communicate with us for support, product evaluation,
                        dispute resolution, or other issues.
                        Inferences drawn from the Personal Information
                        identified above.
                    </p>
                    <p>
                        Some of the categories of Personal Information above may
                        also be “sensitive personal information” under the
                        California Consumer Privacy Act (“CCPA”). We may collect
                        the following type of “sensitive personal information”:
                        information you may voluntarily provide that may reveal
                        race/ethnic origin or other protected classifications.
                    </p>
                    <p>
                        You are not required to provide us with information, but
                        certain features of the Services may not be accessible
                        or available, absent the provision of the requested
                        information.
                    </p>
                    <p>
                        We collect the categories of Personal Information
                        identified above from the following sources: (1)
                        directly from you; (2) through your use of the Services;
                        and (3) third parties such as social media networks.
                    </p>
                    <div class="heading">
                        <h1>
                            How We Use Personal Information
                        </h1>
                    </div>
                    <p>
                        We use your Personal Information for business and
                        commercial purposes, including:
                        to provide you with information you request from us,
                        to contact you from time to time with news and other
                        information about the Company, or in response to your
                        inquiries or other requests,
                        to provide and improve the Services,
                        to monitor or improve our Site,
                        for internal business analysis,
                        to prevent fraud, activities that violate our Terms of
                        Use or that are illegal,
                        to protect our rights and the rights and safety of our
                        users or others,
                        to process payments for the Services,
                        to comply with our legal obligations or as permitted by
                        law, and
                        to administer and troubleshoot the Services.
                    </p>
                    <p>
                        We may aggregate and/or de-identify information
                        collected through the Services. We may use de-identified
                        or aggregated data for any purpose, including without
                        limitation for research and marketing purposes and may
                        also disclose such data to other parties, including
                        without limitation, advertisers, promotional partners,
                        sponsors, event promoters, and/or others.
                    </p>
                    <div class="heading">
                        <h1>
                            When We Disclose Personal Information
                        </h1>
                    </div>
                    <p>
                        Categories of Third Parties With Which We Shared
                        Personal Information for a business purpose in the 12
                        months prior to the date of this Policy are as follows:
                        Service providers that provide customer relationship
                        management (CRM) services; assist us in operating,
                        analyzing, and displaying content on our website;
                        provide analytics information; advertise or market our
                        products; provide website hosting; and provide legal and
                        accounting services.
                        Service providers that facilitate transactional services
                        requiring payment information; and provide legal and
                        accounting services.
                        Service providers that provide data security services
                        and cloud-based data storage; host our Site and assist
                        with other IT-related functions; advertise and market
                        our products; and provide analytics information.
                        Service provides that host our Site and assist with
                        other IT-related functions; advertise and market our
                        products; provide analytics information; and provide
                        legal and accounting services.
                    </p>
                    <p>
                        We may also disclose your Personal Information as
                        required or permitted by law to comply with a subpoena
                        or similar legal process or government request, or when
                        we believe in good faith that disclosure is legally
                        required or otherwise necessary to protect our rights
                        and property or the rights, property or safety of
                        others, including to law enforcement agencies, and
                        judicial and regulatory authorities. We may also
                        disclose your Personal Information to third parties to
                        help detect and protect against fraud or data security
                        vulnerabilities. We may transfer your Personal
                        Information to a third party in the event of an actual
                        or contemplated sale, merger, reorganization of our
                        entity or other restructuring. We may disclose or
                        transfer your information to affiliates, portfolio
                        companies, or other related businesses. We may also
                        disclose your information for other reasons and to
                        others with your consent.
                    </p>
                    <div class="heading">
                        <h1>
                            Cookies and Other Tracking Technologies
                        </h1>
                    </div>
                    <p>
                        Cookies are small, sometimes encrypted text files that
                        are stored on computer hard drives by websites that you
                        visit. They are used to help users navigate websites
                        efficiently as well as to provide information to the
                        owner of the websites. To find out more about cookies,
                        including how to see what cookies have been set and how
                        to manage and delete them, please visit
                        www.allaboutcookies.org.
                    </p>
                    <p>
                        When you visit our Site, we may place a “cookie” or
                        other online tracking devices (e.g. web beacons) that
                        recognize you. The cookies and other tracking
                        technologies may also collect information about your IP
                        address or actions taken in connection with the Site. We
                        may use cookies or similar tracking technologies to
                        capture information about the use of our Site, including
                        to improve your user experience.
                    </p>
                    <p>
                        We use Google Analytics to evaluate the use of our
                        website. Google Analytics uses cookies and other
                        identifiers to collect information, such as how often
                        users visit a website, what pages they visit when they
                        do so, and what other websites they visited prior to
                        visiting a website. To learn more about how Google
                        Analytics collects personal information, review Google's
                        Privacy Policy.
                    </p>
                    <div class="heading">
                        <h1>
                            State Privacy Rights – California
                        </h1>
                    </div>
                    <p>
                        If you are a California resident, you may have separate
                        rights regarding your Personal Information, in
                        accordance with California law.
                    </p>
                    <div class="heading">
                        <h1>
                            California Consumer Privacy Act
                        </h1>
                    </div>
                    <p>
                        The California Consumer Privacy Act (CCPA) gives
                        California residents rights described below with respect
                        to their Personal Information. This Section only applies
                        to you if you are a California resident. It applies to
                        “Personal Information” (as defined by the CCPA) that we
                        collect on or through the Services and through other
                        means (such as information collected offline and over
                        the telephone). It does not apply to Personal
                        Information we collect from our employees and job
                        applicants in their capacity as employees and job
                        applicants.
                    </p>
                    <div class="heading">
                        <h1>
                            CCPA Rights
                        </h1>
                    </div>
                    <p>
                        If you are a California resident, you may have certain
                        rights. California law may permit you to request that
                        we:
                    </p>
                    <p>
                        Provide you the categories of Personal Information we
                        have collected or disclosed about you; the categories of
                        sources of such information; the business or commercial
                        purpose for collecting, “selling,” or “sharing” your
                        Personal Information; the categories of third parties to
                        whom we disclose or “sell,” or with whom we “share,”
                        Personal Information; and the categories of Personal
                        Information we “sell” or “share.”
                        Provide access to and/or a copy of certain information
                        we maintain about you.
                        Delete certain information we maintain about you.
                        Correct inaccurate Personal Information we maintain
                        about you.
                    </p>
                    <p>
                        The CCPA also allows you to limit the use or disclosure
                        of your “sensitive personal information” (as defined in
                        the CCPA) if your sensitive personal information is used
                        for certain purposes. Please note that we do not use or
                        disclose sensitive personal information other than for
                        purposes for which you cannot opt out under the CCPA.
                    </p>
                    <p>
                        You also have the right to opt out of “sales” and
                        “sharing” of Personal Information. We have not “sold” or
                        “shared” your Personal Information in the 12 months
                        preceding the effective date of this Policy. As our
                        Services are not directed to minors, we do not knowingly
                        “sell” or “share” the Personal Information of children
                        under 16.
                    </p>
                    <p>
                        You may have the right to receive information about the
                        financial incentives that we offer to you, if any. You
                        also have the right to not be discriminated against (as
                        provided for in applicable law) for exercising certain
                        of your rights. Certain information may be exempt from
                        such requests under applicable law. We need certain
                        types of information so that we can provide the Services
                        to you. If you ask us to delete it, you may no longer be
                        able to access or use the Services.
                    </p>
                    <div class="heading">
                        <h1>
                            Exercising Your Rights
                        </h1>
                    </div>
                    <p>
                        To exercise any of the rights above, or to ask a question, contact info@croyezcapital.com.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>