
<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name id>
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>

        <div class="logo">
            <a routerLink="/aboutUs">
                <img src="../../../../assets/logo.jpeg" alt srcset
                style="height: 54px; width: 216px;">
            </a>
        </div>
        <ul class="menu-items">
            <div class="verticalAlign">
                <li><a routerLink="/aboutUs" routerLinkActive="active">ABOUT</a></li>
                <li><a routerLink="/ourMission" routerLinkActive="active">OUR-MISSION</a></li>
            </div>

            <div class="verticalAlign">
                <li><a routerLink="/whyUs" routerLinkActive="active">WHY-US</a></li>
                <li><a routerLink="/founder" routerLinkActive="active">FOUNDER</a></li>

            </div>
            <div class="verticalAlign2">
                <li><a routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a></li>
                <li><a routerLink="/contactUs" routerLinkActive="active">CONTACT</a></li>

            </div>

            <!-- <div class="verticalAlign2">
                <li><a routerLink="./management-portal"
                        routerLinkActive="active" role="button">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a></li>

            </div> -->
        </ul>
    </div>
</nav>